@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	margin: 0px;
}

#header {
	background-color: white;
	border-bottom: solid 5px #0A85AB;
	height: 60px;
}

#logo {
	margin-left: 20px;
	margin-top: 16px;
	width: 150px;
	display:inline-block;
}

.pageLink {
	text-decoration:none;
	color: #252424;
	margin-left: 5px;
	margin-right: 5px;
	font-weight:400;
}

.pageLinkText {
	display: inline;
	transition-duration: 0.3s;
	padding: 2px;
	padding-left: 12px;
	padding-right: 12px;
	font-weight:600;
	border: solid 2px white;
}

.pageLinkText:hover {
	/*background-color: #E8E8E8;*/
	border: solid 2px #0A85AB;
}

#linkCont {
	display: inline;
	float: right;
	margin-right: 20px;
	margin-top: 19px;
}

#footer {
	min-height:50px;
	width: 100%;
	position:relative;
}

#footerInner {
	min-height:50px;
	position:absolute;
	background-color: #0A85AB;
	z-index: 100;
	width: 100%;
}

#copyright {
	color:white;
	font-weight: 600;
	margin-left: 20px;
	font-size: 13px;
	margin-top: 17px;
}

#banner {
	height: 500px;
	width: 100%;
	background-position:center;
	background-image:url(res/bannerImg.jpg);
	position:relative;
}

#bannerInner {
	height: 500px;
	width: 100%;
	background-color: #0A85AB;
	opacity: 0.5;
	position:absolute;
	z-index: 100;
}

#whoCont {
	position:relative;
	width: 50%;
	margin-left:25%;
	z-index: 101;
}

#bannerLargeText {
	position:absolute;
	color: white;
	margin-top: 240px;
	font-size: 35px;
	width: 245px;
}

#vertDiv {
	position:absolute;
	background-color: white;
	width: 4px;
	margin-top: 50px;
	height: 400px;
	left: 320px;
}

#bannerSmallText {
	position:absolute;
	color: white;
	margin-top: 220px;
	margin-left: 390px;
	font-size: 20px;
	width: 400px;
}

#updates {
	display: inline-block;
	width: 80%;
	position:relative;
	background-color: white;
	margin-left: 1%;
	-webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.2);
	height: 1000px;
}

#updateFrame {
	width: 95%;
	margin-left: 2.5%;
	height: 90%;
	position:absolute;
	border: none;
}

#social {
	display: inline-block;
	position:relative;
	width: 17%;
	background-color: white;
	margin-left: 1%;
	-webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.2);
	height: 1000px;
}

#socialInner {
	position: absolute;
}

.title {
	color: #252424;
	text-align:center;
}

.boxDiv {
	width: 100%;
	border: 0;
    height: 3px;
    background: #0A85AB;
}

.socialLinksCont {
	position:relative;
	width: 100%;
	margin-left: 10px;
	margin-top: 15px;
}

.profilePic {
	margin-left: 10px;
}

.nameLinkCont {
	float:left;
	font-weight: 600;
	font-size: 20px;
	position:relative;
	margin-left: 84px;
}

.socialName {
	position:absolute;
	margin-top: 0px;
	width: 200px;
}

.socialLink {
	position:absolute;
	text-decoration:none;
	color: white;
	font-size: 16px;
	font-weight:600;
	top: 16px;
}

.socialLinkText {
	background-color: #24B1FF;
	padding: 5px;
	width: 70px;
	padding-left: 10px;
	padding-right: 10px;
}


