@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	margin: 0px;
}

#header {
	background-color: white;
	border-bottom: solid 5px #0A85AB;
	height: 60px;
}

#logo {
	margin-left: 20px;
	margin-top: 16px;
	width: 150px;
	display:inline-block;
}

.pageLink {
	text-decoration:none;
	color: #252424;
	margin-left: 5px;
	margin-right: 5px;
	font-weight:400;
}

.pageLinkText {
	display: inline;
	transition-duration: 0.3s;
	padding: 2px;
	padding-left: 12px;
	padding-right: 12px;
	font-weight:600;
	border: solid 2px white;
}

.pageLinkText:hover {
	/*background-color: #E8E8E8;*/
	border: solid 2px #0A85AB;
}

#linkCont {
	display: inline;
	float: right;
	margin-right: 20px;
	margin-top: 19px;
}

#banner {
	height: 500px;
	width: 100%;
	background-position:center;
	background-image:url(res/bannerImg.png);
	position:relative;
}

#bannerInner {
	height: 500px;
	width: 100%;
	background-color: #0A85AB;
	opacity: 0.6;
	position:absolute;
}

#whoCont {
	position:relative;
	width: 50%;
	margin-left:25%;
}

#bannerLargeText {
	position:absolute;
	color: white;
	margin-top: 240px;
	font-size: 35px;
	width: 245px;
}

#vertDiv {
	position:absolute;
	background-color: white;
	width: 4px;
	margin-top: 50px;
	height: 400px;
	left: 320px;
}

#bannerSmallText {
	position:absolute;
	color: white;
	margin-top: 220px;
	margin-left: 390px;
	font-size: 20px;
	width: 400px;
}

#updates {
	display: inline-block;
	width: 60%;
	position:relative;
	background-color: white;
	margin-left: 1%;
	-webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
	height: 1000px;
}

#social {
	display: inline-block;
	position:relative;
	width: 37%;
	background-color: white;
	margin-left: 1%;
	-webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
	height: 1000px;
}

.title {
	color: #252424;
	text-align:center;
}

.boxDiv {
	width: 100%;
	border: 0;
    height: 3px;
    background: #0A85AB;
}


